RewriteEngine On

# If requesting /ar or /ar/, serve ar/index.html directly
RewriteRule ^ar/?$ ar/index.html [L]

# If requesting /fr or /fr/, serve fr/index.html directly
RewriteRule ^fr/?$ fr/index.html [L]

# Redirect Trailing Slashes If not a folder...
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} (.+)/$
RewriteRule ^ %1 [L,R=301]

# Check for html extension
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html [L,QSA]
